body {
	background: #fff;
	color: #000;

	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cal Sans', sans-serif;
	letter-spacing: 0.3px;
}

p,
ul,
li,
button,
input,
textarea,
a {
	font-family: 'Outfit', sans-serif;
}
